<script type = "text/javascript" src = "/assets/themes/Snail/js/function_about.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/themes/Snail/css/about_code.css" />
<div class="large-page-title">
	<h1>{{ page.title }}</h1>
</div>
<div></div>
<div id = "code">
    <span class="keyword">def</span> <span class="value">main</span>():</span><br />
    <span class="placeholder"/>I = boy(<span class="string">'MO Huansheng '</span>)<br />
    <span class="placeholder"/><span class="comments"># You can call me Mushsen, On the night of Oct 19th, 1990, I was born.</span><br />
    <span class="placeholder"/>I.born = <span class="u">"19901019<span class="comments">|</span>GuiLin GuangXi<span class="comments">|</span>China"</span><br />
    <span class="placeholder"/><span class="comments"># Sep 1st, 2009, I was admitted to University of Science and Technology of China.</span><br />
    <span class="placeholder"/>I.undergraduteUniversity = <span class="u">USTC</span><br />
    <span class="placeholder"/><span class="comments"># After 4 years, I got the postgradute recommendation to Institue of Computing Technology of</span><br />
    <span class="placeholder"/><span class="comments"># Chinese Academy of Sciences. </span><br />
    <span class="placeholder"/>I.graduateUniversity = <span class="u">ICT.CAS</span><br />
    <span class="placeholder"/><span class="comments"># About Me</span><br />
    <span class="placeholder"/>I.email = <span class="u">mohuansheng@ict.ac.cn</span><br />
    <span class="placeholder"/>I.github = <span class="u">http://github.com/pathfinder007</span><br />
    <span class="placeholder"/>I.weibo = <span class="u">http://weibo.com/mushsen</span><br />
    <span class="placeholder"/>I.interests = <span class="b">Cycling<span class="comments">｜</span>Hiking<span class="comments">|</span>Soccer<span class="comments">|</span>Reading<span class="comments">|</span>Programming<span class="comments">|</span>Algorithms</span><br />
    <span class="placeholder"/>I.skills = <span class="b">C++<span class="comments">|</span>C<span class="comments">|</span>Python<span class="comments">|</span>Objective-C<span class="comments">|</span>MySQL<span class="comments">|</span>iOS<span class="comments">|</span>Linux Kernel<span class="comments">|</span>Data Mining</span><br />
    <span class="placeholder"/><span class="number"># Finally, I found this place to record my life and what I learn in every single day.</span><br />
    <span class="placeholder"/><span class="number"># Live, love and Laugh!</span><br />
    <span class="placeholder"/><span class="keyword">while</span> <span class="value">True</span>:<br />
    <span class="placeholder"/><span class="placeholder"/>I.Effort += <span class="number"/>1</span><br />
    <br />
    <span class="keyword">if</span> __name__ == <span class="string">'__main__'</span>:<br />
    <span class="placeholder"/>main()
</div>
<script>
    $("#code").typewriter();
</script>
